// Définition des variables de couleur
$primary-color: #9356DC; // violet
$secondary-color: #FF79DA ; // rose
$tertiaire-color: #99E2D0 ; // vert
$main-bg-color: #F2F2F2; //gris clair
$footer-color: #353535; //gris foncé
