// Définition des variables de couleur
$primary-color: #9356DC; // violet
$lighter-primary-color: lighten($primary-color, 5%); // couleur légèrement plus claire
$secondary-color: #FF79DA ; // rose
$lighter-secondary-color: lighten($secondary-color, 5%); // couleur légèrement plus claire
$tertiaire-color: #99E2D0 ; // vert
$quatro-color: #288768 ; // vert foncé
$main-bg-color: #F2F2F2; //gris clair
$footer-color: #353535; //gris foncé
